<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Grayscale Project{% endblock %}</title>
        {% block stylesheets %}
            {# CUSTOM CSS #}
            <link href="{{ asset("build/css/style.css") }}" rel="stylesheet" type="text/css">
            {# BOOTSTRAP CDN #}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            {# FONTS CDN #}
            <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
            <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
            {# ICONS #}
            <link rel="stylesheet" type="text/css" href="{{ asset("build/css/font-awesome.css") }}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="page-top">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {# BOOTSTRAP #}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            {# JQUERY #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            {# CUSTOM JS #}
            <script src="{{ asset("build/js/app.js") }}"></script>
        {% endblock %}
    </body>
</html>
